* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "League Spartan", sans-serif;
}
.container {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}
.uper-section {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 40px 100px; */
  gap: 300px;
}
.left-section {
  width: 30%;
  padding: 40px;
  max-width: 500px;
}
.left-section h1 {
  color: hsl(300, 43%, 22%);
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 30px;
  letter-spacing: -3px;
}
.left-section p {
  font-size: 20px;
  font-weight: 500;
  color: hsl(303, 10%, 53%);
  letter-spacing: -1px;
  line-height: 1.5rem;
  /* max-width: 450px; */
}
.right-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: 40px;
}
.rating-card1 {
  display: flex;
  background-color: hsl(300, 24%, 96%);
  padding: 20px 50px 20px 30px;
  border-radius: 10px;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  width: 400px;
}
.rating-card1 p {
  color: hsl(300, 43%, 22%);
  font-size: 16px;
  font-weight: 700;
}
.rating-card2 {
  display: flex;
  background-color: hsl(300, 24%, 96%);
  padding: 20px 50px 20px 30px;
  border-radius: 10px;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  margin-left: 50px;
  width: 420px;
}
.rating-card2 p {
  color: hsl(300, 43%, 22%);
  font-size: 16px;
  font-weight: 700;
}
.rating-card3 {
  display: flex;
  background-color: hsl(300, 24%, 96%);
  padding: 20px 50px 20px 30px;
  border-radius: 10px;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  margin-left: 100px;
  width: 420px;
}
.rating-card3 p {
  color: hsl(300, 43%, 22%);
  font-size: 16px;
  font-weight: 700;
}
.bottom-section {
  display: flex;
  margin-top: 50px;
  gap: 40px;
  justify-content: center;
  /* width: 100%; */
}

.customer-card {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 280px;
  background-color: hsl(300, 43%, 22%);
  padding: 40px 35px;
  border-radius: 10px;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
}
.card-header {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 20px;
  align-self: flex-start;
}
.customer-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card-header img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.customer-name {
  color: hsl(300, 24%, 96%);
}
.verified-buyer {
  color: hsl(333, 80%, 67%);
  font-weight: 400;
}
.customer-card p {
  color: hsl(300, 24%, 96%);
  line-height: 1.5;
  font-weight: 400;
  font-size: larger;
}
.center-card {
  margin-top: 20px;
}
.last-card {
  margin-top: 40px;
}

@media (min-width: 344px) and (max-width: 950px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 100px;
    height: 100vh;
  }
  .uper-section {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start;
    align-items: flex-start; */
    padding: 0;
    gap: 40px;
    width: 100%;
  }
  .left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    max-width: none;
    text-align: center;
    margin: 0;
  }
  .left-section h1 {
    color: hsl(300, 43%, 22%);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: -3px;
    max-width: 250px;
  }
  .left-section p {
    font-size: 20px;
    font-weight: 500;
    color: hsl(303, 10%, 53%);
    letter-spacing: -1px;
    line-height: 1.5rem;
    max-width: 400px;
    padding: 3px;
  }

  .right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    padding: 0;
  }
  .rating-card1 {
    display: flex;
    flex-direction: column;
    /* background-color: hsl(300, 24%, 96%); */
    padding: 20px 10px;
    border-radius: 10px;
    gap: 12px;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin-left: 0;
  }
  .rating-card1 p {
    color: hsl(300, 43%, 22%);
    font-size: 16px;
    font-weight: 700;
  }
  .rating-card2 {
    display: flex;
    flex-direction: column;
    background-color: hsl(300, 24%, 96%);
    padding: 20px 10px;
    border-radius: 10px;
    gap: 12px;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin-left: 0;
  }
  .rating-card2 p {
    color: hsl(300, 43%, 22%);
    font-size: 16px;
    font-weight: 700;
  }
  .rating-card3 {
    display: flex;
    flex-direction: column;
    background-color: hsl(300, 24%, 96%);
    padding: 20px 10px;
    border-radius: 10px;
    gap: 12px;
    align-items: center;
    justify-content: center;
    width: 320px;
    flex-wrap: wrap;
    margin-left: 0;
  }
  .rating-card3 p {
    color: hsl(300, 43%, 22%);
    font-size: 16px;
    font-weight: 700;
  }

  .bottom-section,
  .center-card,
  .last-card {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }
  .customer-card {
    display: flex;
    flex-direction: column;
    width: 86%;
    height: 250px;
    background-color: hsl(300, 43%, 22%);
    padding: 80px 35px 80px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
  .card-header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 0px;
    align-self: flex-start;
  }
  .customer-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .card-header img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  .customer-name {
    color: hsl(300, 24%, 96%);
  }
  .verified-buyer {
    color: hsl(333, 80%, 67%);
    font-weight: 400;
  }
  .customer-card p {
    color: hsl(300, 24%, 96%);
    line-height: 1.5;
    font-weight: 400;
    font-size: medium;
  }
  .center-card {
    margin-top: 0;
  }
  .last-card {
    margin-top: 0;
    margin-bottom: 100px;
  }
}
